<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="catClicker as cc">


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class = "flex">
    <div class = "sidePanel">
    <button ng-click="cc.toggleForm();">Admin</button>

    <form id = "formId" ng-hide="cc.hideForm">
      Cat name:<br>
      <input type="text" ng-model="cc.newCat.name"><br>
      Image Url:<br>
      <input type="text" ng-model="cc.newCat.src" value = "http://2.bp.blogspot.com/-pATX0YgNSFs/VP-82AQKcuI/AAAAAAAALSU/Vet9e7Qsjjw/s1600/Cat-hd-wallpapers.jpg">
      Number of clicks:<br>
      <input type="text" ng-model="cc.newCat.count">
      <br><br>
      <p>{{cc.alert}}</p>
      <br>
      <button ng-click="cc.pushCat(cc.newCat);">Save</button>
      <button ng-click="cc.clear();cc.toggleForm();">cancel</button>
    </form>
    <ul>
      <li ng-repeat ="cat in cc.cats">
        <button ng-click="cc.selectCat(cat);">{{cat.name}}</button>
        
      </li>
    </ul>
      
    </div>
    <div class = "catContainer">
      <div class = "clicksCounter">
        <span>Nombre: {{cc.selected.name}}</span>
        <br>
        <span>cat clicked: {{cc.selected.count}} times</span>
      </div>
      <img class = "catImage" ng-src="{{cc.selected.src}}" alt="{{cc.selected.name}}" ng-click="cc.selected.count = cc.selected.count + 1 ">
      
    </div>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
